name: mizer
description: UI for Mizer
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  i18n_extension: ^9.0.0
  protobuf: ^3.0.0
  grpc: ^3.1.0
  fixnum: ^1.0.0
  bloc: ^8.1.0
  flutter_bloc: ^8.1.1
  provider: ^6.0.0
  material_design_icons_flutter: ^7.0.0
  file_selector: ^0.9.0
  select_form_field: ^2.2.0
  collection: ^1.16.0
  nativeshell:
    git:
      url: https://github.com/nativeshell/nativeshell.git
      ref: b9199bf
      path: nativeshell_dart
  flutter_svg: ^2.0.0
  flex_color_picker: ^3.0.0
  auto_size_text: ^3.0.0
  from_css_color: ^2.0.0
  ffi: ^2.0.1
  filesize: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.17.0
  mockito: ^5.3.2
  bloc_test: ^9.1.0
  ffigen: ^7.2.4
  widgetbook: ^2.0.9
  flutter_launcher_icons: ^0.13.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/locales/

ffigen:
  output: 'lib/api/plugin/ffi/bindings.dart'
  name: 'FFIBindings'
  headers:
    entry-points:
      - 'ffi.h'
    include-directives:
      - 'ffi.h'

flutter_icons:
  image_path: ../../assets/logo@512.png
  android: true
  ios: true
  windows:
    generate: true
    icon_size: 256
  macos:
    generate: true
