[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dogtail = "*"
behave = "==1.3.3"
pyautogui = "*"
Pillow = "*"
opencv-python = "*"
sacn = "*"
python-osc = "*"
allure-behave = "*"

[dev-packages]

[requires]
python_version = "3.14"
