[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "==0.9.54"
behave = "==1.2.6"
pytesseract = "==0.3.10"
opencv-python = "==4.9.0.80"
numpy = "==1.26.3"
pandas = "==2.2.0"

[dev-packages]

[requires]
python_version = "3.11"
