[target.'cfg(target_os = "macos")']
rustflags = ["-C", "target-cpu=apple-m1", "-C" , "link-arg=-Wl,-rpath,@executable_path"]

[target.'cfg(target_os = "linux")']
rustflags = ["-Clink-arg=-fuse-ld=lld", "-C", "target-feature=+avx2,+sse4.2", "-C", "link-arg=-Wl,-rpath,$ORIGIN/lib"]

[target.'cfg(target_os = "windows")']
rustflags = ["-C", "target-feature=+avx2,+sse4.2"]
