---
name: Security Audit
on:
  push:
    branches: [main]
    paths:
      - "**/Cargo.toml"
      - "Cargo.lock"
  pull_request:
    branches: [main]
    paths:
      - "**/Cargo.toml"
      - "Cargo.lock"
  schedule:
    - cron: "0 0 * * 0"

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Security audit
        uses: rustsec/audit-check@v1.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
