on: [push]

name: Build

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install native dependencies
        run: sudo apt-get update && sudo apt-get install libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev libasound2-dev libavahi-client-dev protobuf-compiler xorg-dev libgtk-3-dev wget curl libclang-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: subosito/flutter-action@v1
        with:
          channel: master
      - uses: Swatinem/rust-cache@v1
      - name: Build Headless
        run: make build-headless
      - uses: actions/upload-artifact@v2
        with:
          name: linux-headless
          path: target/release/mizer
          if-no-files-found: error
      - name: Build
        run: make build
      - uses: actions/upload-artifact@v2
        with:
          name: linux-full
          path: target/debug/mizer
          if-no-files-found: error
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Install build dependencies
        run: brew install protobuf gstreamer gst-plugins-base gst-plugins-bad
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: subosito/flutter-action@v1
        with:
          channel: master
      - uses: Swatinem/rust-cache@v1
      - name: Get flutter deps
        run: flutter pub get
        working-directory: ui
      - name: Build
        run: make build
      - uses: actions/upload-artifact@v2
        with:
          name: macos-full
          path: |
            target/debug/
            !target/debug/deps/**
            !target/debug/build/**
            !target/debug/incremental/**
            !target/debug/examples/**
            !target/debug/libmizer*
          if-no-files-found: error
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: master
      - run: flutter pub get
        working-directory: ui
      - run: flutter build apk
        working-directory: ui
      - uses: actions/upload-artifact@v2
        with:
          name: android-client
          path: ui/build/app/outputs/flutter-apk/app-release.apk
          if-no-files-found: error
