---
on: [push]

name: Build

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    steps:
      - name: Install native dependencies
        run: |
          sudo apt-get update
          sudo apt-get install \
            libgstreamer1.0-dev \
            libgstreamer-plugins-base1.0-dev \
            libgstreamer-plugins-bad1.0-dev \
            libasound2-dev \
            libavahi-client-dev \
            xorg-dev \
            libgtk-3-dev \
            libclang-dev \
            libudev-dev \
            curl \
            lld \
            ffmpeg \
            libavcodec-dev \
            libavdevice-dev \
            libavfilter-dev \
            libavformat-dev \
            libavutil-dev \
            libpostproc-dev \
            libswresample-dev \
            libswscale-dev \
            libass-dev \
            libfreetype6-dev \
            libgnutls28-dev \
            libsdl2-dev \
            libtool \
            libva-dev \
            libvdpau-dev \
            libvorbis-dev \
            libxcb1-dev \
            libxcb-shm0-dev \
            libxcb-xfixes0-dev \
            zlib1g-dev \
            libx264-dev \
            libx265-dev \
            libnuma-dev \
            libvpx-dev \
            libmp3lame-dev \
            libopus-dev \
            libraw1394-dev \
            libdc1394-dev \
            libavc1394-dev \
            libiec61883-dev \
            libjack-dev \
            libfaad-dev \
            libgsm1-dev \
            libzmq3-dev \
            libssh-dev \
            libbluray-dev \
            libopenmpt-dev \
            ocl-icd-opencl-dev \
            libogg-dev \
            libspeex-dev \
            libtheora-dev \
            flite1-dev \
            libchromaprint-dev \
            libopenal-dev \
            libcdio-dev \
            libcaca-dev \
            libpocketsphinx-dev \
            libsphinxbase-dev \
            libbs2b-dev \
            liblilv-dev \
            libsratom-dev \
            libsord-dev \
            libserd-dev \
            librubberband-dev \
            libsamplerate0-dev \
            libmysofa-dev \
            libvidstab-dev \
            libgme-dev \
            librabbitmq-dev \
            libdav1d-dev \
            libzvbi-dev \
            libsnappy-dev \
            libaom-dev \
            libcodec2-dev \
            libshine-dev \
            libtwolame-dev \
            libwebp-dev \
            libxvidcore-dev \
            libsoxr-dev \
            libcdio-paranoia-dev \
            libcdio-cdda-dev \
            libsrt-gnutls-dev \
            libmfx-dev \
            libvorbis-dev \
            libwavpack-dev
      - name: Install Protoc 3.17.3
        run: |
          curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v3.17.3/protoc-3.17.3-linux-x86_64.zip
          unzip protoc-3.17.3-linux-x86_64.zip
          mkdir -p "$HOME/.local/bin"
          cp bin/protoc "$HOME/.local/bin/"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Build Headless
        run: make build-headless
      - uses: actions/upload-artifact@v3
        with:
          name: linux-headless
          path: target/release/mizer
          if-no-files-found: error
      - name: Build
        run: make build-release
      - name: Package
        run: make package
      - uses: actions/upload-artifact@v3
        with:
          name: linux-full
          path: artifact
          if-no-files-found: error
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Install build dependencies
        run: brew install protobuf gstreamer gst-plugins-base gst-plugins-bad
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Build
        run: make build-release
        continue-on-error: true
      - name: Package
        run: make package
        continue-on-error: true
      - uses: actions/upload-artifact@v3
        with:
          name: macos-full
          path: artifact

  build-windows:
    if: false
    runs-on: windows-latest
    steps:
      - name: Install build dependencies
        run: choco install protoc make wget
        shell: bash
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Get flutter deps
        run: flutter pub get
        working-directory: ui
      - name: Build
        run: make build
      - uses: actions/upload-artifact@v3
        with:
          name: windows-full
          path: |
            target/debug/
            !target/debug/deps/**
            !target/debug/build/**
            !target/debug/incremental/**
            !target/debug/examples/**
            !target/debug/libmizer*
            !target/debug/.fingerprint/**
            components/fixtures/open-fixture-library/.fixtures
          if-no-files-found: error

  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/maxjoehnk/node-based-mizer
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
