on: [push]

name: Tests

jobs:
  test-linux:
    runs-on: ubuntu-latest
    # Enable again when git lfs problem is solved
    if: ${{ false }}
    steps:
      - name: Install native dependencies
        run: sudo apt-get update && sudo apt-get install libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev libasound2-dev libavahi-client-dev protobuf-compiler xorg-dev libgtk-3-dev wget curl libclang-dev
      - uses: actions/checkout@v2
      - name: Create LFS file list
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id
      - name: Restore LFS cache
        uses: actions/cache@v2
        id: lfs-cache
        with:
          path: .git/lfs
          key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}-v1
      - name: Git LFS Pull
        run: git lfs pull
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: subosito/flutter-action@v1
        with:
          channel: master
      - uses: Swatinem/rust-cache@v1
      - name: Clippy Checks
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
      - name: Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace
  test-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: master
      - run: flutter pub get
        working-directory: ui
      - run: flutter test
        working-directory: ui
