---
on: [push]

name: Tests

jobs:
  test-linux:
    runs-on: ubuntu-20.04
    steps:
      - name: Install native dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev libasound2-dev libavahi-client-dev xorg-dev libgtk-3-dev curl libclang-dev libudev-dev
      - name: Install Protoc 3.17.3
        run: |
          curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v3.17.3/protoc-3.17.3-linux-x86_64.zip
          unzip protoc-3.17.3-linux-x86_64.zip
          mkdir -p "$HOME/.local/bin"
          cp bin/protoc "$HOME/.local/bin/"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
      - uses: actions/checkout@v3
# LFS Files are not checked out as we've reached the free tier quota for the lfs support of github
#      - name: Create LFS file list
#        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id
#      - name: Restore LFS cache
#        uses: actions/cache@v2
#        id: lfs-cache
#        with:
#          path: .git/lfs
#          key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}-v1
#      - name: Git LFS Pull
#        run: git lfs pull
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
#      - uses: Swatinem/rust-cache@v1
      - name: Generate FFI bindings
        run: make generate_bindings
        working-directory: ui
      - name: Generate protobuf code
        run: make proto
        working-directory: ui
      - name: Clippy Checks
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
      - name: Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace
  test-android:
    runs-on: ubuntu-latest
    if: false
    steps:
      - uses: actions/checkout@v3
      - name: Install native dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libclang-dev
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install cbindgen binary crate
        uses: actions-rs/install@v0.1
        with:
          crate: cbindgen
          version: latest
          use-tool-cache: true
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Generate FFI bindings
        run: make generate_bindings
        working-directory: ui
      - name: Generate protobuf code
        run: make proto
        working-directory: ui
      - run: flutter test
        working-directory: ui
